/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}



.top-bar{
  position: sticky;
  top: 0;
  z-index: 100;
}

 #gallery {
   columns: 3 200px;
   margin: 50px 10vw 0px 10vw;
   background-color: #2D2D29;
   height: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
 }

 #gallery img {
   border: 3px solid #63444a;
   border-radius: 10px;
   box-shadow: 4px 4px 6px;
   filter: grayscale(70%);
   object-fit: cover;
   opacity: 0.6;
   transition: 0.75s;
 }

 #gallery img:hover {
   filter: grayscale(0%);
   opacity: 1;
 }

 #gallery-user {
   columns: 3 200px;
   margin: 150px 10vw 0px 10vw;
   background-color: #2D2D29;
   height: 90%;
   position: absolute;
   top: 0;
   bottom: 5000;
 }

 #gallery-user img {
   border: 3px solid #63444a;
   border-radius: 10px;
   box-shadow: 4px 4px 6px;
   filter: grayscale(70%);
   object-fit: cover;
   opacity: 0.6;
   transition: 0.75s;
 }

 #gallery-user img:hover {
   filter: grayscale(0%);
   opacity: 1;
 }

 #show-title{
   text-align: center;
   margin: 10px 0 0 0;
 }


 /* SHOW PAGE BELOW */

#show-page {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "pack-image pack-samples"
    "pack-description pack-description"
    "pack-reviews .";
  padding: 30px 5vw;
}

#show-page #show-image {
  position: relative;
  text-align: center;
}

#show-page img {
  border: 3px solid #63444a;
  border-radius: 10px;
  box-shadow: 4px 4px 6px;
  grid-area: pack-image;
  max-width: 100%;
}

#show-title{
  color: white;
}

#show-text {
  grid-area: pack-description;
  margin-top: 20px;
  height: 200px;
}

#show-page h2 {
  background-color: #0A516D;
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0px 15px;
  position: relative;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #111;
}

#dropzone-text {
  font-size: 1em;
}

@media (max-width: 800px) {
  #show-page {
    display: initial;
    max-width: 90%;
    padding: 0;
  }

  #show-page img {
    grid-area: none;
  }
}

#show-text p {
  background-color: #2B2726;
  border: 15px solid;
  border-color: #575A65;
  color: white;
  font-size: 1.25em;
  letter-spacing: 1px;
  min-height: 150px;
  padding: 15px;
  position: relative;
}

#meme-description .meme-edit-form {
  margin: 30px 0 0 0;
}

.sample-tile {
  grid-area: pack-samples;
  margin-left: 100px;
  margin-top: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 50px;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1em;
  font-weight: bold;
}

#player-buttons {
  border-radius: 100%;
  padding: 10px;
  background-color: #6E6662;
  color: white;
  height: 50px;
  margin: 10px;
  font-size: .8em;
  font-weight: normal;
}

#new-pack-form{
  margin: 30px 500px 0px 500px;
  text-align: center;
}

#new-pack-form h2{
  color: white;
  text-shadow: 1px 2px 2px black;
}

#new-pack-form label{
  color: white;
  text-shadow: 1px 2px 2px black;
  font-size: 1em;
  margin: 30px 0 10px 0;
}

#new-user-form{
  margin: 0 200px 0 200px;
  text-align: center;
  color: white;
  font-size: 1em;
}

#new-user-form label{
  margin: 0 100px 0 100px;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 2px black;
  font-size: 1em;
}

#user_profile_photo{
  margin: 0 0 20px 320px;
  text-align: center;
  color: white;
  font-size: 1em;
}

#user-sign-up-title {
  text-align: center;
  color: white;
  text-shadow: 1px 2px 2px black;
  margin: 0 0 20px 0
}
